/* debug */

.debug [class^="col"] {
    background-color: palevioletred;
    border: 1px dotted black;
    min-height: 100px;
}

/* commons */

:root {
    --fl-primary: #1abc9c;
    --fl-dark: #2c3e50;
    --fl-dark-soft: #3a546d;
    --fl-white: #FFFFFF;
    --fl-black: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.card {
    background-color: transparent;
    border: 0;
}

.ms-divider-light,
.ms-divider-dark {
    position: relative;
    display: flex;
    justify-content: center;
}

.ms-divider-light .line,
.ms-divider-dark .line {
    width: 150px;
    border-radius: 5px;
}

.ms-divider-light .line {
    border: 2px solid var(--fl-white);
}

.ms-divider-light .fa-star {
    position: absolute;
    top: 2px;
    left: 50%;
    background-color: var(--fl-primary);
    width: 50px;
    transform: translate(-50%, 0);
    color: var(--fl-white);
}

.ms-divider-dark .line {
    border: 2px solid var(--fl-dark);
}

.ms-divider-dark .fa-star {
    position: absolute;
    top: 2px;
    left: 50%;
    background-color: var(--fl-white);
    width: 50px;
    transform: translate(-50%, 0);
    color: var(--fl-dark);
}

/* utilities */

.ms-bg-primary {
    background-color: var(--fl-primary);
}

.ms-bg-dark-soft {
    background-color: var(--fl-dark-soft);
}

.ms-bg-dark {
    background-color: var(--fl-dark);
}

/* main */

#site_main .card {
    border-radius: 2rem;
}

#site_main #floatingTextarea2 {
    height: 150px;
}

/* footer */

#site_footer .quick_links a {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/ 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#site_footer .top p > a {
    color: var(--fl-primary);
}

@media screen and (min-width: 768px) {

    .container-md {
        width: 85%;
    }
}

