/* debug */

.debug [class^="col"] {
    background-color: palevioletred;
    border: 1px dotted black;
    min-height: 100px;
}

/* commons */

:root {
    --fl-primary: #1abc9c;
    --fl-dark: #2c3e50;
    --fl-dark-soft: #3a546d;
    --fl-white: #FFFFFF;
    --fl-black: #000000;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

.card {
    background-color: transparent;
    border: 0;
}

/* utilities */

.ms-bg-primary {
    background-color: var(--fl-primary);
}

.ms-bg-dark-soft {
    background-color: var(--fl-dark-soft);
}

.ms-bg-dark {
    background-color: var(--fl-dark);
}

@media screen and (min-width: 768px) {

    .container-md {
        width: 85%;
    }
}